.cNav{
    display: flex;
    align-items: center;
    padding: 1rem 0;

    &Left{
        font-size: 24px;
        font-weight: 600;
        // border: 1px solid red;
        // flex: 0.45;

        @media screen and (max-width: 1024px) {
            font-size: 20px;
            font-weight: 500;
            // border: 1px solid red;
        }

        @media screen and (max-width: 768px) {
            font-size: 1rem;
            // width: 100%;
        }
    }

    &Right{
        flex: 1;
        display: flex;
        align-items: center;

        @media screen and (max-width: 768px) {
            // border: 1px solid red;
        }

        &Search{
            // border: 1px solid red;
            margin-right: 1.5rem;
            width: 100%;
            padding: 0 20px;
            margin-right: auto;

            @media screen and (max-width: 768px) {
                margin-right: 0;
                
            }
        }

        &Icons{
            // border: 1px solid red;
            margin-right: 10px;

            @media screen and (max-width: 768px) {
                display: none;
            }
        }
    }



}