.navSidebar{
    // background: blue;
    min-height: 100%;
    display: flex;
    flex-direction: column;

    &Logo{
        margin: 25px auto;
        text-align: center;
    }

     &Items{
        // border: 2px solid green;
        flex: 1;
    }

     &Item{
        display: flex;
        align-items: center;
        gap: 12px;
        padding: 17px 0 17px 24px;
        margin-bottom: 12px;
        // border: 1px solid red;
        font-weight: 500;
        width: 80%;
        margin-inline: auto;
        cursor: pointer;

        &:hover {
            background-color: #248FF2; 
            color: white; 
            border-radius: 8px;

            img {
                filter: brightness(0) invert(1); 
            }
        }

        &.active {
            background-color: #248FF2;
            color: white;
            border-radius: 8px;

            img {
                filter: brightness(0) invert(1); 
            }
        }
    }

    &Footer{
        display: flex;
        align-items: center;
        // text-align: center;
        margin-inline: auto;
    }
}