.alertBanner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 27px 1rem 38px;
    background: #FFE7E7;
    margin-top: 6px;
    margin-bottom: 22px;
    border-radius: 15px;

    @media screen and (max-width: 500px) {
        padding: 0.5rem 1rem;
    }

    img{
        margin-right: 25px;
        @media screen and (max-width: 500px) {
            // display: none;
            max-width: 50%;
        }
    }

    p{
        color: #2A2626;
        font-size: 20px;

        @media screen and (max-width: 768px) {
            font-size: 1rem;
        }

        @media screen and (max-width: 500px) {
            font-size: 14px;
        }
    }

    div > .alertBannerButton{
        @media screen and (max-width: 768px) {
            font-size: 10px;
            padding: 0 auto;   
        }

        @media screen and (max-width: 500px) {
            // flex-direction: column;
            display: none;
        }
    }
}