.CIndustries{
    margin-top: 5px;
    // border: 1px solid red;
    padding: 30px 1rem 0;

    &Header{
        color: rgba(28, 24, 24, 1);
        font-size: 20px;
        font-weight: 500;
    }

    &Selected{
        // border: 1px solid black;
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
    }

    &List{
        margin-top: 1rem;
        // border: 1px solid red;
        background: rgba(248, 248, 248, 1);
        padding: 1rem 20px;
        display: flex; 
        flex-wrap: wrap;
        gap: 12px;
        border-radius: 15px;
    }

    &About{
        // border: 1px solid red;
        margin: 28px 0px;
        
        p{
            color: rgba(28, 24, 24, 1);
            font-size: 20px;
            font-weight: 500;
        }

        &Buttons{
            display: flex;
            gap: 8px;
            margin: 1rem 0;
        }

        &TextArea{
            textarea{
                width: 100%;
                min-height: 190px;
                background: rgba(248, 248, 248, 1);
                border: none;
                padding: 22px 0 0 23px;
                border-radius: 15px;
            }
        }

        &Visa{

            p{
                font-size: 20px;
                color: rgba(28, 24, 24, 1);
                margin-bottom: 30px;
                font-weight: 500;
            }

            &Container{
                display: flex;
                align-items: center;
                gap: 22px;
            }
        }
    }

    &Uae{
        // border: 1px solid red;
        background: rgba(248, 248, 248, 1);
        padding: 1rem 20px;
        border-radius: 15px;
        margin-bottom: 28px;

        p{
            font-size: 24px;
            color: rgba(28, 24, 24, 1);
            margin-bottom: 30px;
            font-weight: 500;
        }

        div{
            display: flex;
            gap: 12px;
        }
    }

    &Options{
        background: rgba(248, 248, 248, 1);
        padding: 1rem 20px;
        border-radius: 15px;
        margin-bottom: 28px;
        // border: 1px solid red;
        p{
            font-size: 24px;
            color: rgba(28, 24, 24, 1);
            margin-bottom: 30px;
            font-weight: 500;
        }

        & > .checkbox-container{
            display: flex;
            flex-wrap: wrap;
            row-gap: 2rem;
            margin-bottom: 1.5rem;
            label{
                flex: 1 0 30%;
                font-size: 20px;

                input{
                    margin-right: 1rem;
                    border: 1px solid red;
                    width: 17px;
                    height: 17px;
                }

                input:checked{
                }
            }
        }
    }

    &Location{
        border: 1px solid blue;
        background: rgba(248, 248, 248, 1);
        padding: 1rem 20px;
        border-radius: 15px;
        margin-bottom: 28px;

        p{
            font-size: 24px;
            color: rgba(28, 24, 24, 1);
            margin-bottom: 30px;
            font-weight: 500;
        }

        & > .location-container{
            margin-top: 1.5rem;

            span{
                // margin-bottom: 1rem;

            }

            div{
                margin-top: 10px;
                display: flex;
                gap: 1rem;

                input{
                    width: 300px;
                    border: none;
                    outline: none;
                    border-radius: 15px;
                    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
                    padding: 0 1rem;
                }
            }
        }
    }

    &Turnover{
        border: 1px solid orange;
        background: rgba(248, 248, 248, 1);
        padding: 1rem 20px;
        border-radius: 15px;
        margin-bottom: 28px;

        p{
            font-size: 24px;
            color: rgba(28, 24, 24, 1);
            margin-bottom: 30px;
            font-weight: 500;
        }

        div{
            display: flex;
            gap: 12px;
        }
    }
}