.dashboard{
    display: flex;
    background: #F8F8F8;

    &.alternateContent {
        background: #FFFFFF;
    }

    &Main{
        flex: 1;
        padding: 20px;
        overflow-y: auto; 
        // border: 1px solid red;

        &Content{
            // border: 1px solid red;
            display: flex;
            flex-wrap: wrap;
            gap: 26px;

            & > * {
                flex: 1;
            }

            @media (max-width: 768px) {
                > * {
                    flex: 1 1 100%; 
                }
            }
        }

        &Content:not(:last-child){
            margin-bottom: 26px;
        }
    }
}