.dashboard{
    display: flex;
    background: #F8F8F8;

    &Main{
        flex: 1;
        padding: 20px;
        overflow-y: auto; 
        // border: 1px solid red;

        &Content{
            display: flex;
            flex-wrap: wrap;
            gap: 26px;

            & > * {
                flex: 1 1 calc(50% - 13px); // Default for two components side by side, with a gap of 26px
            }

            @media (max-width: 768px) { // Adjust this value as needed for responsiveness
                > * {
                    flex: 1 1 100%; // Full width on smaller screens
                }
            }
        }

        &Content:not(:last-child){
            margin-bottom: 26px;
        }
    }
}